nav#dashboard-head {
    
    height: 60px;
    width: 100%;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light;
    

    .headline-section {

        display: flex;
        align-items: center;
        width: 40%;

        .text {
            font-size: 1.3rem;
            font-weight: bold;
        }

        .img {
            width: 36px;
            height: 36px;
            margin-right: 10px;
        }
    }

    .info-tab {

        .seperator {
            margin: 0 10px 0 10px;
        }        
    }
}


footer#status-bar {

    height: 50px;
    width: 100%;
}