nav#dashboard-head {
    
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light;
    

    .headline-section {

        display: flex;
        align-items: center;
        width: 40%;

        .text {
            font-size: 1.3rem;
            font-weight: bold;
        }

        .img {
            width: 36px;
            height: 36px;
            margin-right: 10px;
        }
    }

    .user-section {

        display: flex;
        align-items: center;
        justify-content: space-between;

        .info-tab {

            .status-pill {
                @extend .badge-pill;
                margin-right: 5px;
            }
        }

        .seperator {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

main#dashboard {
    position: absolute;
    display: flex;
    margin: 60px 0 60px 0;
    height: calc(100% - 120px);
    width: 100%;

    #sidebar {
        border-right: 1px solid $light;
        height: 100%;
        min-width: 300px;
        width: 16.33%;

        .list-ul {

            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            list-style: none;

            .list-element a {

                color: $body-color;
                text-decoration: none;
            }

            .list-element a:hover {

                color: $gray-200;
                text-decoration: none;
            }
        }
    }

    #chart {

        padding: 15px;
        height: 100%;
        min-width: 1200px;
        width: 83.67%;
        overflow-y: scroll;
    }
}

footer#status-bar {
    position: fixed;
    bottom: 0px;
    border-top: 1px solid $light;
    height: 60px;
    width: 100%;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .value-container {
        display: flex;
        align-items: center;

        .value {
            padding: 5px;
            margin: 0 10px 0 10px;
            border: 1px solid $light;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 100px;
        
            .img {
                margin-right: 5px;
            }
        }
    }
}