nav#dashboard-head {
    
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light;
    

    .headline-section {

        display: flex;
        align-items: center;
        width: 40%;

        .text {
            font-size: 1.3rem;
            font-weight: bold;
        }

        .img {
            width: 36px;
            height: 36px;
            margin-right: 10px;
        }
    }

    .user-section {

        display: flex;
        align-items: center;
        justify-content: space-between;

        .info-tab {

            .status-pill {
                @extend .badge-pill;
                margin-right: 5px;
            }
        }

        .seperator {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

main#dashboard {
    position: absolute;
    display: flex;
    margin: 60px 0 60px 0;
    height: calc(100% - 120px);
    width: 100%;

    #sidebar {

        padding-top: 20px;
        border-right: 1px solid $light;
        height: 100%;
        min-width: 250px;
        width: 13%;

        h6 {
            margin-left: 40px;
        }

        .list-ul {

            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            list-style: none;
            margin-bottom: 30px;

            .list-element a {

                .icon {
                    margin-top: -4px;
                    margin-right: 5px;
                }

                color: $blue;
                text-decoration: none;
            }

            .list-element a:hover {

                color: $gray-100;
                text-decoration: none;
            }
        }
    }

    #content {

        padding: 15px;
        height: 100%;
        min-width: 1200px;
        width: 87%;
        overflow-y: scroll;
        background-color: #1e2c39;
        position: relative;

        .header {

            display: flex;
            justify-content: space-between;
            padding-bottom: 8px;
            margin-bottom: 15px;
            border-bottom: 1px inset $light;
            align-items: center;

            .headline {

                .text {

                    font-size: 1.1rem;
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
        }

        .chart {
            padding: 0;
            height: calc(100% - 40px);
        }
    }
}

footer#status-bar {
    position: fixed;
    bottom: 0px;
    border-top: 1px solid $light;
    height: 60px;
    width: 100%;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .value-container {
        display: flex;
        align-items: center;

        .value {
            padding: 5px;
            margin: 0 10px 0 10px;
            border: 2px solid $light;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 100px;
            background-color: darken($green, 10%);
        
            .img {
                margin-right: 5px;
            }
        }
    }
}

.alert-area {

    position: fixed;
    bottom: 5px;
    right: 15px;

    .alert {
        min-width: 500px;
    }
}