main#logon-form .inner-form {
    
    position: fixed;
    width: 36rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .headline-section {

        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {

            font-size: 2.3rem;
            font-weight: bold;
        }

        .img {

            width: 48px;
            height: 48px;
            margin-right: 10px;
        }
    }
}
.feedback {

    display: none;
}