<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weatherstation Dashboard</title>
        <link rel="stylesheet" href="dist/css/latest.min.css">
        <script src="dist/js/latest.min.js"></script>
    </head>
    <body>
        <main id="logon-form">
            <div class="inner-form">
                	<h1>Weatherstation Dashboard</h1>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" id="inputLarge">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                </div>
            </div>
        </main>
    </body>
</html>